In [198]:
import numpy as np
import pandas as pd

train_df = pd.read_csv("C:/Users/gram/Desktop/프로젝트2/train.csv")
test_df = pd.read_csv("C:/Users/gram/Desktop/프로젝트2/test.csv")
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9107 entries, 0 to 9106
Data columns (total 77 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9107 non-null   int64
 1   QaA         9107 non-null   float64
 2   QaE         9107 non-null   int64
 3   QbA         9107 non-null   float64
 4   QbE         9107 non-null   int64
 5   QcA         9107 non-null   float64
 6   QcE         9107 non-null   int64
 7   QdA         9107 non-null   float64
 8   QdE         9107 non-null   int64
 9   QeA         9107 non-null   float64
 10  QeE         9107 non-null   int64
 11  QfA         9107 non-null   float64
 12  QfE         9107 non-null   int64
 13  QgA         9107 non-null   float64
 14  QgE         9107 non-null   int64
 15  QhA         9107 non-null   float64
 16  QhE         9107 non-null   int64
 17  QiA         9107 non-null   float64
 18  QiE         9107 non-null   int64
 19  QjA         9107 non-null   float64
 20  QjE         9107 non-null   int64
 21  QkA         9107 non-null   float64
 22  QkE         9107 non-null   int64
 23  QlA         9107 non-null   float64
 24  QlE         9107 non-null   int64
 25  QmA         9107 non-null   float64
 26  QmE         9107 non-null   int64
 27  QnA         9107 non-null   float64
 28  QnE         9107 non-null   int64
 29  QoA         9107 non-null   float64
 30  QoE         9107 non-null   int64
 31  QpA         9107 non-null   float64
 32  QpE         9107 non-null   int64
 33  QqA         9107 non-null   float64
 34  QqE         9107 non-null   int64
 35  QrA         9107 non-null   float64
 36  QrE         9107 non-null   int64
 37  QsA         9107 non-null   float64
 38  QsE         9107 non-null   int64
 39  QtA         9107 non-null   float64
 40  QtE         9107 non-null   int64
 41  age_group   9107 non-null   object
 42  education   9107 non-null   int64
 43  engnat      9107 non-null   int64
 44  familysize  9107 non-null   int64
 45  gender      9107 non-null   object
 46  hand        9107 non-null   int64
 47  married     9107 non-null   int64
 48  race        9107 non-null   object
 49  religion    9107 non-null   object
 50  tp01        9107 non-null   int64
 51  tp02        9107 non-null   int64
 52  tp03        9107 non-null   int64
 53  tp04        9107 non-null   int64
 54  tp05        9107 non-null   int64
 55  tp06        9107 non-null   int64
 56  tp07        9107 non-null   int64
 57  tp08        9107 non-null   int64
 58  tp09        9107 non-null   int64
 59  tp10        9107 non-null   int64
 60  urban       9107 non-null   int64
 61  wf_01       9107 non-null   int64
 62  wf_02       9107 non-null   int64
 63  wf_03       9107 non-null   int64
 64  wr_01       9107 non-null   int64
 65  wr_02       9107 non-null   int64
 66  wr_03       9107 non-null   int64
 67  wr_04       9107 non-null   int64
 68  wr_05       9107 non-null   int64
 69  wr_06       9107 non-null   int64
 70  wr_07       9107 non-null   int64
 71  wr_08       9107 non-null   int64
 72  wr_09       9107 non-null   int64
 73  wr_10       9107 non-null   int64
 74  wr_11       9107 non-null   int64
 75  wr_12       9107 non-null   int64
 76  wr_13       9107 non-null   int64
dtypes: float64(20), int64(53), object(4)
memory usage: 5.4+ MB

In [199]:
train_df.sample(6)

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
1143,20460,1.0,312,5.0,1520,5.0,662,1.0,2165,2.0,...,1,1,0,1,1,0,1,0,1,1
700,44518,2.0,364,5.0,841,5.0,791,1.0,570,2.0,...,1,1,1,1,1,1,1,1,1,1
25954,55,3.0,661,1.0,1219,4.0,950,1.0,1301,1.0,...,1,1,0,1,1,0,1,0,1,1
10198,43721,5.0,907,1.0,819,1.0,2200,3.0,2114,2.0,...,1,1,1,1,1,0,1,1,1,1
8284,42601,4.0,510,1.0,592,5.0,679,2.0,1097,5.0,...,1,0,0,1,1,0,1,0,1,1
22273,45320,3.0,844,5.0,1154,4.0,1761,3.0,2479,3.0,...,1,0,0,0,0,0,0,0,0,0

# test_df

'age_group' 전처리

In [200]:
for i in range(0, 9107):
    if(int(test_df['age_group'][i][:2])>=10):
        test_df['age_group'][i] = int(test_df['age_group'][i][:2])
    else:
        test_df['age_group'][i] = 70

test_df['age_group']

0       20
1       30
2       10
3       10
4       20
        ..
9102    10
9103    50
9104    20
9105    10
9106    30
Name: age_group, Length: 9107, dtype: object

In [201]:
test_df['age_group'] = pd.to_numeric(test_df['age_group'])
test_df['age_group']

test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9107 entries, 0 to 9106
Data columns (total 77 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9107 non-null   int64
 1   QaA         9107 non-null   float64
 2   QaE         9107 non-null   int64
 3   QbA         9107 non-null   float64
 4   QbE         9107 non-null   int64
 5   QcA         9107 non-null   float64
 6   QcE         9107 non-null   int64
 7   QdA         9107 non-null   float64
 8   QdE         9107 non-null   int64
 9   QeA         9107 non-null   float64
 10  QeE         9107 non-null   int64
 11  QfA         9107 non-null   float64
 12  QfE         9107 non-null   int64
 13  QgA         9107 non-null   float64
 14  QgE         9107 non-null   int64
 15  QhA         9107 non-null   float64
 16  QhE         9107 non-null   int64
 17  QiA         9107 non-null   float64
 18  QiE         9107 non-null   int64
 19  QjA         9107 non-null   float64
 20  QjE         9107 non-null   int64
 21  QkA         9107 non-null   float64
 22  QkE         9107 non-null   int64
 23  QlA         9107 non-null   float64
 24  QlE         9107 non-null   int64
 25  QmA         9107 non-null   float64
 26  QmE         9107 non-null   int64
 27  QnA         9107 non-null   float64
 28  QnE         9107 non-null   int64
 29  QoA         9107 non-null   float64
 30  QoE         9107 non-null   int64
 31  QpA         9107 non-null   float64
 32  QpE         9107 non-null   int64
 33  QqA         9107 non-null   float64
 34  QqE         9107 non-null   int64
 35  QrA         9107 non-null   float64
 36  QrE         9107 non-null   int64
 37  QsA         9107 non-null   float64
 38  QsE         9107 non-null   int64
 39  QtA         9107 non-null   float64
 40  QtE         9107 non-null   int64
 41  age_group   9107 non-null   int64
 42  education   9107 non-null   int64
 43  engnat      9107 non-null   int64
 44  familysize  9107 non-null   int64
 45  gender      9107 non-null   object
 46  hand        9107 non-null   int64
 47  married     9107 non-null   int64
 48  race        9107 non-null   object
 49  religion    9107 non-null   object
 50  tp01        9107 non-null   int64
 51  tp02        9107 non-null   int64
 52  tp03        9107 non-null   int64
 53  tp04        9107 non-null   int64
 54  tp05        9107 non-null   int64
 55  tp06        9107 non-null   int64
 56  tp07        9107 non-null   int64
 57  tp08        9107 non-null   int64
 58  tp09        9107 non-null   int64
 59  tp10        9107 non-null   int64
 60  urban       9107 non-null   int64
 61  wf_01       9107 non-null   int64
 62  wf_02       9107 non-null   int64
 63  wf_03       9107 non-null   int64
 64  wr_01       9107 non-null   int64
 65  wr_02       9107 non-null   int64
 66  wr_03       9107 non-null   int64
 67  wr_04       9107 non-null   int64
 68  wr_05       9107 non-null   int64
 69  wr_06       9107 non-null   int64
 70  wr_07       9107 non-null   int64
 71  wr_08       9107 non-null   int64
 72  wr_09       9107 non-null   int64
 73  wr_10       9107 non-null   int64
 74  wr_11       9107 non-null   int64
 75  wr_12       9107 non-null   int64
 76  wr_13       9107 non-null   int64
dtypes: float64(20), int64(54), object(3)
memory usage: 5.4+ MB

In [202]:
# race_custom_DataFrame
test_ex_list = {}
test_ex_df = pd.DataFrame(test_ex_list)

test_ex_df['age_group'] = test_df['age_group']
test_ex_df['education'] = test_df['education']
test_ex_df['married'] = test_df['married']


test_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9107 entries, 0 to 9106
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age_group  9107 non-null   int64
 1   education  9107 non-null   int64
 2   married    9107 non-null   int64
dtypes: int64(3)
memory usage: 213.6 KB

In [203]:
test_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9107 entries, 0 to 9106
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age_group  9107 non-null   int64
 1   education  9107 non-null   int64
 2   married    9107 non-null   int64
dtypes: int64(3)
memory usage: 213.6 KB

# train_df
'gender' 전처리

In [204]:
# 'gender' 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

items = train_df['gender']
encoder = LabelEncoder()
encoder.fit(items)
gender_pre = encoder.transform(items)
print(gender_pre)

[1 1 0 ... 1 0 0]

In [205]:
train_df['gender']= gender_pre 
print(train_df['gender'])

0        1
1        1
2        0
3        1
4        0
        ..
36420    0
36421    1
36422    1
36423    0
36424    0
Name: gender, Length: 36425, dtype: int32

'Q_E' 전처리

In [206]:
def get_outlier(df = None, column=None, weight=1.5):
    fraud =df[df['voted']==1][column]
    quantile_25 = np.percentile(fraud.values, 25)
    quantile_75 = np.percentile(fraud.values, 75)
    
    iqr = quantile_75 - quantile_25
    iqr_weight = iqr * weight
    lowest_val = quantile_25 - iqr_weight
    highest_val = quantile_75 + iqr_weight
    
    outlier_index = fraud[(fraud < lowest_val) | (fraud > highest_val)].index
    return outlier_index

def get_preprocessed_df(outlier_index, df=None):
    df_copy = df.copy()
    df_copy.drop(outlier_index, axis=0)
    return df_copy

In [207]:
for i in train_df:
    if i.find('E') is not -1:
        outlier_idx = get_outlier(df=train_df, column=i, weight=1.5)
        print(i+' 이상치 데이터 인덱스:', outlier_idx)
        train_df = get_preprocessed_df(outlier_idx, df=train_df)

QaE 이상치 데이터 인덱스: Int64Index([   21,    31,    77,   110,   124,   134,   214,   243,   253,
              267,
            ...
            36149, 36179, 36205, 36206, 36220, 36221, 36252, 36350, 36363,
            36373],
           dtype='int64', length=1193)
QbE 이상치 데이터 인덱스: Int64Index([   21,    43,    90,   124,   143,   182,   190,   199,   214,
              250,
            ...
            36204, 36205, 36254, 36274, 36306, 36320, 36322, 36336, 36364,
            36387],
           dtype='int64', length=1305)
QcE 이상치 데이터 인덱스: Int64Index([   35,    49,    96,   101,   131,   134,   171,   199,   270,
              273,
            ...
            36252, 36280, 36290, 36295, 36304, 36325, 36358, 36363, 36365,
            36375],
           dtype='int64', length=1346)
QdE 이상치 데이터 인덱스: Int64Index([    9,    27,    33,    35,    49,    66,    77,   143,   253,
              258,
            ...
            36206, 36224, 36235, 36248, 36322, 36330, 36336, 36374, 36392,
            36394],
           dtype='int64', length=1318)
QeE 이상치 데이터 인덱스: Int64Index([    1,    21,    77,    82,   110,   124,   131,   134,   143,
              166,
            ...
            36178, 36184, 36205, 36206, 36274, 36281, 36295, 36325, 36350,
            36364],
           dtype='int64', length=1311)
QfE 이상치 데이터 인덱스: Int64Index([    1,    11,    31,    77,   101,   114,   169,   214,   298,
              342,
            ...
            36252, 36303, 36320, 36325, 36336, 36350, 36363, 36364, 36373,
            36392],
           dtype='int64', length=1313)
QgE 이상치 데이터 인덱스: Int64Index([   49,    53,    58,    77,    94,   124,   202,   222,   253,
              258,
            ...
            36162, 36205, 36206, 36221, 36231, 36315, 36325, 36358, 36388,
            36420],
           dtype='int64', length=1231)
QhE 이상치 데이터 인덱스: Int64Index([  103,   110,   266,   273,   275,   287,   292,   302,   316,
              355,
            ...
            36071, 36124, 36165, 36174, 36205, 36274, 36306, 36350, 36374,
            36422],
           dtype='int64', length=1228)
QiE 이상치 데이터 인덱스: Int64Index([   49,    53,    77,   110,   199,   202,   214,   267,   282,
              292,
            ...
            36044, 36124, 36129, 36178, 36204, 36259, 36290, 36320, 36350,
            36364],
           dtype='int64', length=1310)
QjE 이상치 데이터 인덱스: Int64Index([    4,    11,    21,    31,    35,    94,   103,   110,   116,
              243,
            ...
            36221, 36224, 36252, 36295, 36322, 36336, 36350, 36352, 36376,
            36392],
           dtype='int64', length=1456)
QkE 이상치 데이터 인덱스: Int64Index([    1,    77,   103,   110,   111,   124,   133,   143,   178,
              191,
            ...
            36122, 36129, 36178, 36205, 36237, 36244, 36274, 36325, 36350,
            36375],
           dtype='int64', length=1296)
QlE 이상치 데이터 인덱스: Int64Index([   31,    33,    49,    66,    77,    85,   114,   124,   143,
              147,
            ...
            36179, 36204, 36206, 36244, 36267, 36325, 36350, 36358, 36387,
            36420],
           dtype='int64', length=1212)
QmE 이상치 데이터 인덱스: Int64Index([    0,    11,    31,    45,    60,    77,    94,   101,   116,
              182,
            ...
            36206, 36209, 36224, 36231, 36274, 36303, 36320, 36365, 36369,
            36373],
           dtype='int64', length=1370)
QnE 이상치 데이터 인덱스: Int64Index([   11,    31,    35,    49,    74,    77,   121,   182,   186,
              243,
            ...
            36267, 36303, 36350, 36352, 36358, 36364, 36387, 36396, 36409,
            36414],
           dtype='int64', length=1244)
QoE 이상치 데이터 인덱스: Int64Index([   11,    21,    31,    58,   110,   176,   202,   253,   282,
              302,
            ...
            35958, 35963, 36059, 36070, 36099, 36205, 36274, 36303, 36376,
            36422],
           dtype='int64', length=1287)
QpE 이상치 데이터 인덱스: Int64Index([    1,    31,    62,    77,   110,   124,   243,   250,   302,
              303,
            ...
            36237, 36274, 36290, 36295, 36322, 36336, 36350, 36373, 36374,
            36394],
           dtype='int64', length=1251)
QqE 이상치 데이터 인덱스: Int64Index([    1,    31,    58,    73,    77,   110,   116,   131,   134,
              190,
            ...
            36179, 36197, 36237, 36252, 36304, 36350, 36364, 36373, 36376,
            36387],
           dtype='int64', length=1268)
QrE 이상치 데이터 인덱스: Int64Index([   21,    33,    49,    77,   101,   103,   110,   232,   243,
              274,
            ...
            36103, 36205, 36236, 36254, 36295, 36303, 36324, 36325, 36336,
            36388],
           dtype='int64', length=1350)
QsE 이상치 데이터 인덱스: Int64Index([    1,    11,   124,   131,   143,   169,   182,   232,   253,
              258,
            ...
            36160, 36165, 36178, 36205, 36206, 36252, 36279, 36320, 36350,
            36373],
           dtype='int64', length=1333)
QtE 이상치 데이터 인덱스: Int64Index([    6,    12,    35,    53,    77,    94,    96,   214,   253,
              266,
            ...
            36171, 36205, 36259, 36295, 36306, 36322, 36335, 36352, 36364,
            36376],
           dtype='int64', length=1333)

'age_group' 전처리

In [208]:
age_int = train_df['age_group'][0][:2]
print(age_int)
print(type(int(age_int)))

20
<class 'int'>

In [209]:
for i in range(0, 36425):
    if(int(train_df['age_group'][i][:2])>=10):
        train_df['age_group'][i] = int(train_df['age_group'][i][:2])
    else:
        train_df['age_group'][i] = 70

train_df['age_group']

0        20
1        10
2        20
3        10
4        20
         ..
36420    20
36421    10
36422    30
36423    40
36424    50
Name: age_group, Length: 36425, dtype: object

In [210]:
train_df['age_group'] = pd.to_numeric(train_df['age_group'])
train_df['age_group']

0        20
1        10
2        20
3        10
4        20
         ..
36420    20
36421    10
36422    30
36423    40
36424    50
Name: age_group, Length: 36425, dtype: int64

In [211]:
train_df.groupby(['age_group','voted'])['voted'].count()

age_group  voted
10         0        9462
           1        1826
20         0        5371
           1        6000
30         0        2567
           1        3689
40         0        1438
           1        2587
50         0         772
           1        1564
60         0         256
           1         710
70         0          52
           1         131
Name: voted, dtype: int64

# 'race' 전처리

In [212]:
# race
vote_race = train_df['race']
vote_race

0        White
1        Asian
2        White
3        Other
4        White
         ...
36420    Black
36421    White
36422    White
36423    White
36424    White
Name: race, Length: 36425, dtype: object

In [213]:
vote_race.value_counts()

White                    25042
Asian                     5466
Other                     3462
Black                     1708
Native American            434
Arab                       272
Indigenous Australian       41
Name: race, dtype: int64

In [214]:
# race 원-핫인코딩
import pandas as pd

df = pd.DataFrame({'race':vote_race})
race_onehot = pd.get_dummies(df)
race_onehot

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...
36420,0,0,1,0,0,0,0
36421,0,0,0,0,0,0,1
36422,0,0,0,0,0,0,1
36423,0,0,0,0,0,0,1
36424,0,0,0,0,0,0,1

In [215]:
# 데이터 프레임에 추가
train_df['race_Arab']= race_onehot['race_Arab']
train_df['race_Asian']= race_onehot['race_Asian']
train_df['race_Black']= race_onehot['race_Black']
train_df['race_Indigenous Australian']= race_onehot['race_Indigenous Australian']
train_df['race_Native American']= race_onehot['race_Native American']
train_df['race_Other']= race_onehot['race_Other']
train_df['race_White']= race_onehot['race_White']
train_df

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_11,wr_12,wr_13,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,43375,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,...,0,1,1,0,0,0,0,0,0,1
1,4486,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,...,0,1,1,0,1,0,0,0,0,0
2,10262,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,...,0,1,0,0,0,0,0,0,0,1
3,14088,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,...,0,1,1,0,0,0,0,0,1,0
4,13398,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,...,1,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,16511,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,...,1,1,1,0,0,1,0,0,0,0
36421,33507,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,...,1,1,1,0,0,0,0,0,0,1
36422,44917,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,...,1,1,1,0,0,0,0,0,0,1
36423,36126,5.0,294,1.0,985,1.0,504,3.0,613,5.0,...,1,1,1,0,0,0,0,0,0,1
36424,42340,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,...,1,1,1,0,0,0,0,0,0,1

In [216]:
# 인종 투표 참여도
pd.DataFrame(train_df.groupby(['race_Arab','race_Asian','race_Black','race_Indigenous Australian', 'race_Native American', 'race_Other', 'race_White','voted'])['voted'].count())

                                                                                                             voted
race_Arab race_Asian race_Black race_Indigenous Australian race_Native American race_Other race_White voted
0         0          0          0                          0                    0          1          0      12427
                                                                                                      1      12615
                                                                                1          0          0       2158
                                                                                                      1       1304
                                                           1                    0          0          0        255
                                                                                                      1        179
                                1                          0                    0          0          0         26
                                                                                                      1         15
                     1          0                          0                    0          0          0       1019
                                                                                                      1        689
          1          0          0                          0                    0          0          0       3840
                                                                                                      1       1626
1         0          0          0                          0                    0          0          0        193
                                                                                                      1         79

In [217]:
train_df['race_Arab'].value_counts()

0    36153
1      272
Name: race_Arab, dtype: int64

# 'religion' 전처리

In [218]:
# religion
vote_religion = train_df['religion']
vote_religion

0        Christian_Catholic
1                     Hindu
2           Christian_Other
3                     Hindu
4                     Other
                ...
36420                 Other
36421                Jewish
36422              Agnostic
36423                 Other
36424                 Other
Name: religion, Length: 36425, dtype: object

In [219]:
# 종교 수 
vote_religion.value_counts()

Atheist                 8139
Agnostic                7736
Christian_Catholic      5131
Christian_Other         4072
Christian_Protestant    3908
Other                   3857
Hindu                   1151
Muslim                   928
Buddhist                 674
Jewish                   402
Christian_Mormon         332
Sikh                      95
Name: religion, dtype: int64

In [220]:
# religion 원-핫인코딩
import pandas as pd

df = pd.DataFrame({'religion':vote_religion})
religion_onehot = pd.get_dummies(df)
religion_onehot

,religion_Agnostic,religion_Atheist,religion_Buddhist,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Other,religion_Christian_Protestant,religion_Hindu,religion_Jewish,religion_Muslim,religion_Other,religion_Sikh
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
36420,0,0,0,0,0,0,0,0,0,0,1,0
36421,0,0,0,0,0,0,0,0,1,0,0,0
36422,1,0,0,0,0,0,0,0,0,0,0,0
36423,0,0,0,0,0,0,0,0,0,0,1,0
36424,0,0,0,0,0,0,0,0,0,0,1,0

In [221]:
# 데이터 프레임에 추가
train_df['religion_Agnostic']= religion_onehot['religion_Agnostic']
train_df['religion_Atheist']= religion_onehot['religion_Atheist']
train_df['religion_Buddhist']= religion_onehot['religion_Buddhist']
train_df['religion_Christian_Catholic']= religion_onehot['religion_Christian_Catholic']
train_df['religion_Christian_Mormon']= religion_onehot['religion_Christian_Mormon']
train_df['religion_Christian_Protestant']= religion_onehot['religion_Christian_Protestant']
train_df['religion_Christian_Other']= religion_onehot['religion_Christian_Other']
train_df['religion_Hindu']= religion_onehot['religion_Hindu']
train_df['religion_Jewish']= religion_onehot['religion_Jewish']
train_df['religion_Muslim']= religion_onehot['religion_Muslim']
train_df['religion_Sikh']= religion_onehot['religion_Sikh']
train_df['religion_Other']= religion_onehot['religion_Other']


train_df

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,religion_Buddhist,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Protestant,religion_Christian_Other,religion_Hindu,religion_Jewish,religion_Muslim,religion_Sikh,religion_Other
0,43375,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,...,0,1,0,0,0,0,0,0,0,0
1,4486,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,...,0,0,0,0,0,1,0,0,0,0
2,10262,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,...,0,0,0,0,1,0,0,0,0,0
3,14088,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,...,0,0,0,0,0,1,0,0,0,0
4,13398,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,16511,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,...,0,0,0,0,0,0,0,0,0,1
36421,33507,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,...,0,0,0,0,0,0,1,0,0,0
36422,44917,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,...,0,0,0,0,0,0,0,0,0,0
36423,36126,5.0,294,1.0,985,1.0,504,3.0,613,5.0,...,0,0,0,0,0,0,0,0,0,1
36424,42340,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,...,0,0,0,0,0,0,0,0,0,1

In [222]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 97 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          36425 non-null  int64
 1   QaA                            36425 non-null  float64
 2   QaE                            36425 non-null  int64
 3   QbA                            36425 non-null  float64
 4   QbE                            36425 non-null  int64
 5   QcA                            36425 non-null  float64
 6   QcE                            36425 non-null  int64
 7   QdA                            36425 non-null  float64
 8   QdE                            36425 non-null  int64
 9   QeA                            36425 non-null  float64
 10  QeE                            36425 non-null  int64
 11  QfA                            36425 non-null  float64
 12  QfE                            36425 non-null  int64
 13  QgA                            36425 non-null  float64
 14  QgE                            36425 non-null  int64
 15  QhA                            36425 non-null  float64
 16  QhE                            36425 non-null  int64
 17  QiA                            36425 non-null  float64
 18  QiE                            36425 non-null  int64
 19  QjA                            36425 non-null  float64
 20  QjE                            36425 non-null  int64
 21  QkA                            36425 non-null  float64
 22  QkE                            36425 non-null  int64
 23  QlA                            36425 non-null  float64
 24  QlE                            36425 non-null  int64
 25  QmA                            36425 non-null  float64
 26  QmE                            36425 non-null  int64
 27  QnA                            36425 non-null  float64
 28  QnE                            36425 non-null  int64
 29  QoA                            36425 non-null  float64
 30  QoE                            36425 non-null  int64
 31  QpA                            36425 non-null  float64
 32  QpE                            36425 non-null  int64
 33  QqA                            36425 non-null  float64
 34  QqE                            36425 non-null  int64
 35  QrA                            36425 non-null  float64
 36  QrE                            36425 non-null  int64
 37  QsA                            36425 non-null  float64
 38  QsE                            36425 non-null  int64
 39  QtA                            36425 non-null  float64
 40  QtE                            36425 non-null  int64
 41  age_group                      36425 non-null  int64
 42  education                      36425 non-null  int64
 43  engnat                         36425 non-null  int64
 44  familysize                     36425 non-null  int64
 45  gender                         36425 non-null  int32
 46  hand                           36425 non-null  int64
 47  married                        36425 non-null  int64
 48  race                           36425 non-null  object
 49  religion                       36425 non-null  object
 50  tp01                           36425 non-null  int64
 51  tp02                           36425 non-null  int64
 52  tp03                           36425 non-null  int64
 53  tp04                           36425 non-null  int64
 54  tp05                           36425 non-null  int64
 55  tp06                           36425 non-null  int64
 56  tp07                           36425 non-null  int64
 57  tp08                           36425 non-null  int64
 58  tp09                           36425 non-null  int64
 59  tp10                           36425 non-null  int64
 60  urban                          36425 non-null  int64
 61  voted                          36425 non-null  int64
 62  wf_01                          36425 non-null  int64
 63  wf_02                          36425 non-null  int64
 64  wf_03                          36425 non-null  int64
 65  wr_01                          36425 non-null  int64
 66  wr_02                          36425 non-null  int64
 67  wr_03                          36425 non-null  int64
 68  wr_04                          36425 non-null  int64
 69  wr_05                          36425 non-null  int64
 70  wr_06                          36425 non-null  int64
 71  wr_07                          36425 non-null  int64
 72  wr_08                          36425 non-null  int64
 73  wr_09                          36425 non-null  int64
 74  wr_10                          36425 non-null  int64
 75  wr_11                          36425 non-null  int64
 76  wr_12                          36425 non-null  int64
 77  wr_13                          36425 non-null  int64
 78  race_Arab                      36425 non-null  uint8
 79  race_Asian                     36425 non-null  uint8
 80  race_Black                     36425 non-null  uint8
 81  race_Indigenous Australian     36425 non-null  uint8
 82  race_Native American           36425 non-null  uint8
 83  race_Other                     36425 non-null  uint8
 84  race_White                     36425 non-null  uint8
 85  religion_Agnostic              36425 non-null  uint8
 86  religion_Atheist               36425 non-null  uint8
 87  religion_Buddhist              36425 non-null  uint8
 88  religion_Christian_Catholic    36425 non-null  uint8
 89  religion_Christian_Mormon      36425 non-null  uint8
 90  religion_Christian_Protestant  36425 non-null  uint8
 91  religion_Christian_Other       36425 non-null  uint8
 92  religion_Hindu                 36425 non-null  uint8
 93  religion_Jewish                36425 non-null  uint8
 94  religion_Muslim                36425 non-null  uint8
 95  religion_Sikh                  36425 non-null  uint8
 96  religion_Other                 36425 non-null  uint8
dtypes: float64(20), int32(1), int64(55), object(2), uint8(19)
memory usage: 22.2+ MB

# 데이터 전처리 - 데이터 타입 통일

In [223]:
for i in train_df:
    if i.find('A') is not -1:
        train_df = train_df.astype({i:'int64'})

for i in train_df:
    if i.find('race_') is not -1:
        train_df = train_df.astype({i:'int64'})

for i in train_df:
    if i.find('religion_') is not -1:
        train_df = train_df.astype({i:'int64'})

for i in train_df:
    if i.find('gender') is not -1:
        train_df = train_df.astype({i:'int64'})

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 97 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          36425 non-null  int64
 1   QaA                            36425 non-null  int64
 2   QaE                            36425 non-null  int64
 3   QbA                            36425 non-null  int64
 4   QbE                            36425 non-null  int64
 5   QcA                            36425 non-null  int64
 6   QcE                            36425 non-null  int64
 7   QdA                            36425 non-null  int64
 8   QdE                            36425 non-null  int64
 9   QeA                            36425 non-null  int64
 10  QeE                            36425 non-null  int64
 11  QfA                            36425 non-null  int64
 12  QfE                            36425 non-null  int64
 13  QgA                            36425 non-null  int64
 14  QgE                            36425 non-null  int64
 15  QhA                            36425 non-null  int64
 16  QhE                            36425 non-null  int64
 17  QiA                            36425 non-null  int64
 18  QiE                            36425 non-null  int64
 19  QjA                            36425 non-null  int64
 20  QjE                            36425 non-null  int64
 21  QkA                            36425 non-null  int64
 22  QkE                            36425 non-null  int64
 23  QlA                            36425 non-null  int64
 24  QlE                            36425 non-null  int64
 25  QmA                            36425 non-null  int64
 26  QmE                            36425 non-null  int64
 27  QnA                            36425 non-null  int64
 28  QnE                            36425 non-null  int64
 29  QoA                            36425 non-null  int64
 30  QoE                            36425 non-null  int64
 31  QpA                            36425 non-null  int64
 32  QpE                            36425 non-null  int64
 33  QqA                            36425 non-null  int64
 34  QqE                            36425 non-null  int64
 35  QrA                            36425 non-null  int64
 36  QrE                            36425 non-null  int64
 37  QsA                            36425 non-null  int64
 38  QsE                            36425 non-null  int64
 39  QtA                            36425 non-null  int64
 40  QtE                            36425 non-null  int64
 41  age_group                      36425 non-null  int64
 42  education                      36425 non-null  int64
 43  engnat                         36425 non-null  int64
 44  familysize                     36425 non-null  int64
 45  gender                         36425 non-null  int64
 46  hand                           36425 non-null  int64
 47  married                        36425 non-null  int64
 48  race                           36425 non-null  object
 49  religion                       36425 non-null  object
 50  tp01                           36425 non-null  int64
 51  tp02                           36425 non-null  int64
 52  tp03                           36425 non-null  int64
 53  tp04                           36425 non-null  int64
 54  tp05                           36425 non-null  int64
 55  tp06                           36425 non-null  int64
 56  tp07                           36425 non-null  int64
 57  tp08                           36425 non-null  int64
 58  tp09                           36425 non-null  int64
 59  tp10                           36425 non-null  int64
 60  urban                          36425 non-null  int64
 61  voted                          36425 non-null  int64
 62  wf_01                          36425 non-null  int64
 63  wf_02                          36425 non-null  int64
 64  wf_03                          36425 non-null  int64
 65  wr_01                          36425 non-null  int64
 66  wr_02                          36425 non-null  int64
 67  wr_03                          36425 non-null  int64
 68  wr_04                          36425 non-null  int64
 69  wr_05                          36425 non-null  int64
 70  wr_06                          36425 non-null  int64
 71  wr_07                          36425 non-null  int64
 72  wr_08                          36425 non-null  int64
 73  wr_09                          36425 non-null  int64
 74  wr_10                          36425 non-null  int64
 75  wr_11                          36425 non-null  int64
 76  wr_12                          36425 non-null  int64
 77  wr_13                          36425 non-null  int64
 78  race_Arab                      36425 non-null  int64
 79  race_Asian                     36425 non-null  int64
 80  race_Black                     36425 non-null  int64
 81  race_Indigenous Australian     36425 non-null  int64
 82  race_Native American           36425 non-null  int64
 83  race_Other                     36425 non-null  int64
 84  race_White                     36425 non-null  int64
 85  religion_Agnostic              36425 non-null  int64
 86  religion_Atheist               36425 non-null  int64
 87  religion_Buddhist              36425 non-null  int64
 88  religion_Christian_Catholic    36425 non-null  int64
 89  religion_Christian_Mormon      36425 non-null  int64
 90  religion_Christian_Protestant  36425 non-null  int64
 91  religion_Christian_Other       36425 non-null  int64
 92  religion_Hindu                 36425 non-null  int64
 93  religion_Jewish                36425 non-null  int64
 94  religion_Muslim                36425 non-null  int64
 95  religion_Sikh                  36425 non-null  int64
 96  religion_Other                 36425 non-null  int64
dtypes: int64(95), object(2)
memory usage: 27.0+ MB

In [224]:
# race_custom_DataFrame
vote_ex_list = {}
vote_ex_df = pd.DataFrame(vote_ex_list)

vote_ex_df['QaA'] = train_df['QaA']
vote_ex_df['QbA'] = train_df['QbA']
vote_ex_df['QcA'] = train_df['QcA']
vote_ex_df['QdA'] = train_df['QdA']
vote_ex_df['QeA'] = train_df['QeA']
vote_ex_df['QfA'] = train_df['QfA']
vote_ex_df['QgA'] = train_df['QgA']
vote_ex_df['QhA'] = train_df['QhA']
vote_ex_df['QiA'] = train_df['QiA']
vote_ex_df['QjA'] = train_df['QjA']
vote_ex_df['QkA'] = train_df['QkA']
vote_ex_df['QlA'] = train_df['QlA']
vote_ex_df['QmA'] = train_df['QmA']
vote_ex_df['QnA'] = train_df['QnA']
vote_ex_df['QoA'] = train_df['QoA']
vote_ex_df['QpA'] = train_df['QpA']
vote_ex_df['QqA'] = train_df['QqA']
vote_ex_df['QrA'] = train_df['QrA']
vote_ex_df['QsA'] = train_df['QsA']
vote_ex_df['QtA'] = train_df['QtA']

vote_ex_df['QaE'] = train_df['QaE']
vote_ex_df['QbE'] = train_df['QbE']
vote_ex_df['QcE'] = train_df['QcE']
vote_ex_df['QdE'] = train_df['QdE']
vote_ex_df['QeE'] = train_df['QeE']
vote_ex_df['QfE'] = train_df['QfE']
vote_ex_df['QgE'] = train_df['QgE']
vote_ex_df['QhE'] = train_df['QhE']
vote_ex_df['QiE'] = train_df['QiE']
vote_ex_df['QjE'] = train_df['QjE']
vote_ex_df['QkE'] = train_df['QkE']
vote_ex_df['QlE'] = train_df['QlE']
vote_ex_df['QmE'] = train_df['QmE']
vote_ex_df['QnE'] = train_df['QnE']
vote_ex_df['QoE'] = train_df['QoE']
vote_ex_df['QpE'] = train_df['QpE']
vote_ex_df['QqE'] = train_df['QqE']
vote_ex_df['QrE'] = train_df['QrE']
vote_ex_df['QsE'] = train_df['QsE']
vote_ex_df['QtE'] = train_df['QtE']


vote_ex_df['wf_01'] = train_df['wf_01']
vote_ex_df['wf_02'] = train_df['wf_02']
vote_ex_df['wf_03'] = train_df['wf_03']

vote_ex_df['wr_01'] = train_df['wr_01']
vote_ex_df['wr_02'] = train_df['wr_02']
vote_ex_df['wr_03'] = train_df['wr_03']
vote_ex_df['wr_04'] = train_df['wr_04']
vote_ex_df['wr_05'] = train_df['wr_05']
vote_ex_df['wr_06'] = train_df['wr_06']
vote_ex_df['wr_07'] = train_df['wr_07']
vote_ex_df['wr_08'] = train_df['wr_08']
vote_ex_df['wr_09'] = train_df['wr_09']
vote_ex_df['wr_10'] = train_df['wr_10']
vote_ex_df['wr_11'] = train_df['wr_11']
vote_ex_df['wr_12'] = train_df['wr_12']
vote_ex_df['wr_13'] = train_df['wr_13']

vote_ex_df['tp01'] = train_df['tp01']
vote_ex_df['tp02'] = train_df['tp02']
vote_ex_df['tp03'] = train_df['tp03']
vote_ex_df['tp04'] = train_df['tp04']
vote_ex_df['tp05'] = train_df['tp05']
vote_ex_df['tp06'] = train_df['tp06']
vote_ex_df['tp07'] = train_df['tp07']
vote_ex_df['tp08'] = train_df['tp08']
vote_ex_df['tp09'] = train_df['tp09']
vote_ex_df['tp10'] = train_df['tp10']

vote_ex_df['age_group'] = train_df['age_group']
vote_ex_df['education'] = train_df['education']
vote_ex_df['engnat'] = train_df['engnat']
vote_ex_df['familysize'] = train_df['familysize']
vote_ex_df['gender'] = train_df['gender']
vote_ex_df['hand'] = train_df['hand']
vote_ex_df['married'] = train_df['married']
vote_ex_df['race_Arab']= train_df['race_Arab']
vote_ex_df['race_Asian']= train_df['race_Asian']
vote_ex_df['race_Black']= train_df['race_Black']
vote_ex_df['race_Indigenous Australian']= train_df['race_Indigenous Australian']
vote_ex_df['race_Native American']= train_df['race_Native American']
vote_ex_df['race_Other']= train_df['race_Other']
vote_ex_df['race_White']= train_df['race_White']
vote_ex_df['religion_Agnostic']= train_df['religion_Agnostic']
vote_ex_df['religion_Atheist']= train_df['religion_Atheist']
vote_ex_df['religion_Buddhist']= train_df['religion_Buddhist']
vote_ex_df['religion_Christian_Catholic']= train_df['religion_Christian_Catholic']
vote_ex_df['religion_Christian_Mormon']= train_df['religion_Christian_Mormon']
vote_ex_df['religion_Christian_Protestant']= train_df['religion_Christian_Protestant']
vote_ex_df['religion_Christian_Other']= train_df['religion_Christian_Other']
vote_ex_df['religion_Hindu']= train_df['religion_Hindu']
vote_ex_df['religion_Jewish']= train_df['religion_Jewish']
vote_ex_df['religion_Muslim']= train_df['religion_Muslim']
vote_ex_df['religion_Sikh']= train_df['religion_Sikh']
vote_ex_df['religion_Other']= train_df['religion_Other']
vote_ex_df['voted'] = train_df['voted']

vote_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 93 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   QaA                            36425 non-null  int64
 1   QbA                            36425 non-null  int64
 2   QcA                            36425 non-null  int64
 3   QdA                            36425 non-null  int64
 4   QeA                            36425 non-null  int64
 5   QfA                            36425 non-null  int64
 6   QgA                            36425 non-null  int64
 7   QhA                            36425 non-null  int64
 8   QiA                            36425 non-null  int64
 9   QjA                            36425 non-null  int64
 10  QkA                            36425 non-null  int64
 11  QlA                            36425 non-null  int64
 12  QmA                            36425 non-null  int64
 13  QnA                            36425 non-null  int64
 14  QoA                            36425 non-null  int64
 15  QpA                            36425 non-null  int64
 16  QqA                            36425 non-null  int64
 17  QrA                            36425 non-null  int64
 18  QsA                            36425 non-null  int64
 19  QtA                            36425 non-null  int64
 20  QaE                            36425 non-null  int64
 21  QbE                            36425 non-null  int64
 22  QcE                            36425 non-null  int64
 23  QdE                            36425 non-null  int64
 24  QeE                            36425 non-null  int64
 25  QfE                            36425 non-null  int64
 26  QgE                            36425 non-null  int64
 27  QhE                            36425 non-null  int64
 28  QiE                            36425 non-null  int64
 29  QjE                            36425 non-null  int64
 30  QkE                            36425 non-null  int64
 31  QlE                            36425 non-null  int64
 32  QmE                            36425 non-null  int64
 33  QnE                            36425 non-null  int64
 34  QoE                            36425 non-null  int64
 35  QpE                            36425 non-null  int64
 36  QqE                            36425 non-null  int64
 37  QrE                            36425 non-null  int64
 38  QsE                            36425 non-null  int64
 39  QtE                            36425 non-null  int64
 40  wf_01                          36425 non-null  int64
 41  wf_02                          36425 non-null  int64
 42  wf_03                          36425 non-null  int64
 43  wr_01                          36425 non-null  int64
 44  wr_02                          36425 non-null  int64
 45  wr_03                          36425 non-null  int64
 46  wr_04                          36425 non-null  int64
 47  wr_05                          36425 non-null  int64
 48  wr_06                          36425 non-null  int64
 49  wr_07                          36425 non-null  int64
 50  wr_08                          36425 non-null  int64
 51  wr_09                          36425 non-null  int64
 52  wr_10                          36425 non-null  int64
 53  wr_11                          36425 non-null  int64
 54  wr_12                          36425 non-null  int64
 55  wr_13                          36425 non-null  int64
 56  tp01                           36425 non-null  int64
 57  tp02                           36425 non-null  int64
 58  tp03                           36425 non-null  int64
 59  tp04                           36425 non-null  int64
 60  tp05                           36425 non-null  int64
 61  tp06                           36425 non-null  int64
 62  tp07                           36425 non-null  int64
 63  tp08                           36425 non-null  int64
 64  tp09                           36425 non-null  int64
 65  tp10                           36425 non-null  int64
 66  age_group                      36425 non-null  int64
 67  education                      36425 non-null  int64
 68  engnat                         36425 non-null  int64
 69  familysize                     36425 non-null  int64
 70  gender                         36425 non-null  int64
 71  hand                           36425 non-null  int64
 72  married                        36425 non-null  int64
 73  race_Arab                      36425 non-null  int64
 74  race_Asian                     36425 non-null  int64
 75  race_Black                     36425 non-null  int64
 76  race_Indigenous Australian     36425 non-null  int64
 77  race_Native American           36425 non-null  int64
 78  race_Other                     36425 non-null  int64
 79  race_White                     36425 non-null  int64
 80  religion_Agnostic              36425 non-null  int64
 81  religion_Atheist               36425 non-null  int64
 82  religion_Buddhist              36425 non-null  int64
 83  religion_Christian_Catholic    36425 non-null  int64
 84  religion_Christian_Mormon      36425 non-null  int64
 85  religion_Christian_Protestant  36425 non-null  int64
 86  religion_Christian_Other       36425 non-null  int64
 87  religion_Hindu                 36425 non-null  int64
 88  religion_Jewish                36425 non-null  int64
 89  religion_Muslim                36425 non-null  int64
 90  religion_Sikh                  36425 non-null  int64
 91  religion_Other                 36425 non-null  int64
 92  voted                          36425 non-null  int64
dtypes: int64(93)
memory usage: 25.8 MB

In [225]:
# 표준화
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler()

# StandardScaler로 데이터 셋 변환, fit() 과 transform() 호출
scaler.fit(vote_ex_df)
vote_scaled = scaler.transform(vote_ex_df)

# transform()시 , scale 변환된 데이터 셋이 numpy ndarray로 변환되어 이를 DataFrame으로 변환
vote_ex1_scaled = pd.DataFrame(data=vote_scaled, columns=vote_ex_df.columns)
# print('feature들의 평균 값')
# print(iris_df_scaled.mean())
# print('feature들의 분산 값')
# print(iris_df_scaled.var())

#vote_ex1_scaled['voted'] = vote_df['voted']
vote_ex1_scaled

,QaA,QbA,QcA,QdA,QeA,QfA,QgA,QhA,QiA,QjA,...,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Protestant,religion_Christian_Other,religion_Hindu,religion_Jewish,religion_Muslim,religion_Sikh,religion_Other,voted
0,-0.943484,1.340543,0.935235,-0.717293,-0.963467,-0.865121,1.616104,1.837376,-0.787203,1.048260,...,2.469617,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,-0.344135,1.098471
1,-0.943484,1.340543,0.935235,-0.717293,-0.963467,0.616578,-1.033485,1.152798,1.236978,1.048260,...,-0.404921,-0.095909,-0.346675,-0.354770,5.535919,-0.105639,-0.161688,-0.051136,-0.344135,1.098471
2,2.390552,-1.209955,-1.160786,-0.717293,0.495785,2.098277,0.953706,0.468220,1.236978,-0.422037,...,-0.404921,-0.095909,-0.346675,2.818729,-0.180638,-0.105639,-0.161688,-0.051136,-0.344135,1.098471
3,1.557043,-1.209955,-1.859460,2.149019,-0.963467,0.616578,0.953706,-0.900937,1.236978,-1.892334,...,-0.404921,-0.095909,-0.346675,-0.354770,5.535919,-0.105639,-0.161688,-0.051136,-0.344135,-0.910356
4,1.557043,1.340543,0.935235,1.193582,-0.963467,-0.865121,-1.033485,-0.216359,-1.461930,1.048260,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,2.905833,1.098471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,-0.943484,1.340543,0.935235,-0.717293,-0.963467,-0.865121,0.291309,0.468220,-1.461930,1.048260,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,2.905833,1.098471
36421,0.723534,0.702919,0.935235,0.238145,-0.963467,0.616578,-1.033485,0.468220,0.562251,1.048260,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,9.466227,-0.161688,-0.051136,-0.344135,-0.910356
36422,-0.109975,0.702919,-1.160786,-0.717293,-0.233841,-0.865121,0.953706,-0.216359,-0.787203,0.313112,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,-0.344135,1.098471
36423,2.390552,-1.209955,-1.859460,1.193582,1.955036,-0.865121,0.953706,-0.900937,0.562251,-1.157186,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,2.905833,1.098471
36424,0.723534,-1.209955,-1.160786,-0.717293,0.495785,-0.124272,-1.033485,0.468220,1.236978,-1.157186,...,-0.404921,-0.095909,-0.346675,-0.354770,-0.180638,-0.105639,-0.161688,-0.051136,2.905833,1.098471

In [226]:
# 정규화(Min-Max Scaling) : 데이터 값을 0과 1사이의 범위 값으로 변환(음수 값이있으면 -1에서 1 값으로 변환)
from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler 객체 생성
scaler = MinMaxScaler()

# MinMaxScaler로 데이터 셋 변환, fit() 과 transform() 호출
scaler.fit(vote_ex1_scaled)
vote_scaled = scaler.transform(vote_ex1_scaled)

# transform()시, scale 변환된 데이터 셋이 numpy ndarray로 반환되어 이를 DataFrame으로 변환
vote_ex1_scaled = pd.DataFrame(data=vote_scaled, columns=vote_ex_df.columns)
# print('feature들의 최소 값')
# print(iris_df_scaled.min())
# print('feature들의 최대 값')
# print(iris_df_scaled.max())

#vote_ex1_scaled['voted'] = vote_df['voted']
vote_ex1_scaled

,QaA,QbA,QcA,QdA,QeA,QfA,QgA,QhA,QiA,QjA,...,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Protestant,religion_Christian_Other,religion_Hindu,religion_Jewish,religion_Muslim,religion_Sikh,religion_Other,voted
0,0.00,1.00,1.00,0.00,0.00,0.00,1.00,1.00,0.25,1.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.00,1.00,1.00,0.00,0.00,0.50,0.00,0.75,1.00,1.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1.00,0.00,0.25,0.00,0.50,1.00,0.75,0.50,1.00,0.50,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.75,0.00,0.00,0.75,0.00,0.50,0.75,0.00,1.00,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.75,1.00,1.00,0.50,0.00,0.00,0.00,0.25,0.00,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,0.00,1.00,1.00,0.00,0.00,0.00,0.50,0.50,0.00,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
36421,0.50,0.75,1.00,0.25,0.00,0.50,0.00,0.50,0.75,1.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36422,0.25,0.75,0.25,0.00,0.25,0.00,0.75,0.25,0.25,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36423,1.00,0.00,0.00,0.50,1.00,0.00,0.75,0.00,0.75,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
36424,0.50,0.00,0.25,0.00,0.50,0.25,0.00,0.50,1.00,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [227]:

from sklearn.ensemble import ExtraTreesClassifier

etc_model = ExtraTreesClassifier()
X = vote_ex1_scaled.iloc[:, :-1]
y = vote_ex1_scaled.iloc[:, -1]

etc_model.fit(X, y)

print(etc_model.feature_importances_)
feature_list = pd.concat([pd.Series(X.columns), pd.Series(etc_model.feature_importances_)], axis=1)
feature_list.columns = ['features_name', 'importance']
feature_list.sort_values("importance", ascending =False)[:10]

[0.01232366 0.01368735 0.01206102 0.01146795 0.01265054 0.01177502
 0.01262456 0.01234582 0.01270128 0.01263819 0.01226446 0.01094104
 0.01278697 0.01236163 0.01274972 0.01308901 0.0149263  0.01283023
 0.0126497  0.01269321 0.01266866 0.01227291 0.01277885 0.01241464
 0.01257219 0.01270584 0.01274568 0.01264186 0.01260241 0.01242905
 0.01240354 0.012543   0.01263608 0.01271878 0.01254158 0.01251544
 0.01284846 0.01268097 0.01256571 0.01250539 0.00511227 0.00713266
 0.00646477 0.00815191 0.00324209 0.00751432 0.00503104 0.00443277
 0.00972033 0.00316871 0.00159257 0.00778361 0.00262409 0.00970822
 0.00281252 0.00338909 0.01358226 0.01357333 0.01392141 0.01383213
 0.01298441 0.01376157 0.01392442 0.01471997 0.01391585 0.01334401
 0.06520036 0.06057684 0.01050926 0.01305285 0.0101441  0.00808974
 0.02325615 0.00079038 0.00972557 0.00259695 0.00019357 0.00119771
 0.00382856 0.01147577 0.0080312  0.00778703 0.00207386 0.00670129
 0.00115571 0.00611239 0.00592702 0.0019428  0.00145154 0.00220094
 0.0003305  0.00684886]

   features_name  importance
66     age_group    0.065200
67     education    0.060577
72       married    0.023256
16           QqA    0.014926
63          tp08    0.014720
62          tp07    0.013924
58          tp03    0.013921
64          tp09    0.013916
59          tp04    0.013832
61          tp06    0.013762

In [228]:
# race_custom_DataFrame
vote_ex_list = {}
vote_ex_df = pd.DataFrame(vote_ex_list)

vote_ex_df['age_group'] = train_df['age_group']
vote_ex_df['education'] = train_df['education']
vote_ex_df['married'] = train_df['married']


vote_ex_df['voted'] = train_df['voted']

vote_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age_group  36425 non-null  int64
 1   education  36425 non-null  int64
 2   married    36425 non-null  int64
 3   voted      36425 non-null  int64
dtypes: int64(4)
memory usage: 1.1 MB

데이터 확인

In [229]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings('ignore')


X = vote_ex_df.iloc[:, :-1]
y = vote_ex_df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify=y)
print(X_train.shape, X_test.shape)

(29140, 3) (7285, 3)

In [230]:
def get_clf_eval_5(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    
    roc_auc = roc_auc_score(y_test, pred_proba)
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
    F1: {3:.4f}, AUC: {4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

    
def get_clf_eval_4(y_test, pred=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f}, F1: {3:.4f}'.format(accuracy, precision, recall, f1))
    
import numpy as np
import matplotlib.pyplot as plt

def precision_recall_curve_plot(y_test=None, pred_proba_c1=None):
    # threshold ndarray와 이 threshold에 따른 정밀도, 재현율 ndarray 추출
    precisions, recalls, thresholds = precision_recall_curve(y_test, pred_proba_c1)
    
    # X축을 threshold 값으로, Y축은 정밀도, 재현율 값으로 가각 Plot수행, 정밀도는 점선으로 표시
    plt.figure(figsize=(8,6))
    threshold_boundary = thresholds.shape[0]
    plt.plot(thresholds, precisions[0:threshold_boundary], linestyle='--', label='precision')
    plt.plot(thresholds, recalls[0:threshold_boundary], label='recall')

    # threshold 값 X축의 Scale을 0.1단위로 변경
    start, end = plt.xlim()
    plt.xticks(np.round(np.arange(start, end, 0.1),2))
    
    # x축, y축 label과 legend, 그리고 grid 설정
    plt.xlabel('Threshold value'); plt.ylabel('Precision and Recall value')
    plt.legend(); plt.grid()
    plt.show()

# SMOTE

In [231]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state = 0)
X_train_over, y_train_over = smote.fit_resample(X_train, y_train)

print(X_train.shape, y_train_over.shape)
print(X_train_over.shape, y_train_over.shape)
print(pd.Series(y_train_over).value_counts())

(29140, 3) (31868,)
(31868, 3) (31868,)
1    15934
0    15934
Name: voted, dtype: int64

In [232]:
xgb_clf = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3, random_state = 0)
parameters = {'n_estimators':[100,200,300,400,500,600], 'max_depth':[1,2,3,4,5,6], 'learning_rate':[0.1,0.3,0.5,0.7,0.9]}
grid_xgb_clf = GridSearchCV(xgb_clf, param_grid=parameters, scoring='f1', cv=5, refit= True)
grid_xgb_clf.fit(X_train_over, y_train_over)

scores_df = pd.DataFrame(grid_xgb_clf.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score']]

KeyboardInterrupt:

In [ ]:
print('GridSearchCV 최적 파라미터:', grid_xgb_clf.best_params_)
print('GridSearchCV 최고 f1:{0:.4f}'.format(grid_xgb_clf.best_score_))

In [234]:
xgb_clf = XGBClassifier(n_estimators=100, learning_rate=0.7, max_depth=2, random_state=0)
evals = [(X_test, y_test)]
xgb_clf.fit(X_train_over, y_train_over, early_stopping_rounds=100, eval_metric ='logloss', eval_set=evals, verbose=True)
xgb_pred = xgb_clf.predict(X_test)
xgb_pred_proba = xgb_clf.predict_proba(X_test)[:,1]
get_clf_eval_5(y_test, xgb_pred, xgb_pred_proba)

[0]	validation_0-logloss:0.608105
Will train until validation_0-logloss hasn't improved in 100 rounds.
[1]	validation_0-logloss:0.588399
[2]	validation_0-logloss:0.581779
[3]	validation_0-logloss:0.578666
[4]	validation_0-logloss:0.576668
[5]	validation_0-logloss:0.575753
[6]	validation_0-logloss:0.575399
[7]	validation_0-logloss:0.574949
[8]	validation_0-logloss:0.574813
[9]	validation_0-logloss:0.574668
[10]	validation_0-logloss:0.574808
[11]	validation_0-logloss:0.574746
[12]	validation_0-logloss:0.57475
[13]	validation_0-logloss:0.574771
[14]	validation_0-logloss:0.574562
[15]	validation_0-logloss:0.574423
[16]	validation_0-logloss:0.574526
[17]	validation_0-logloss:0.574424
[18]	validation_0-logloss:0.574437
[19]	validation_0-logloss:0.574459
[20]	validation_0-logloss:0.57438
[21]	validation_0-logloss:0.574394
[22]	validation_0-logloss:0.574439
[23]	validation_0-logloss:0.574452
[24]	validation_0-logloss:0.574444
[25]	validation_0-logloss:0.574463
[26]	validation_0-logloss:0.574439
[27]	validation_0-logloss:0.574456
[28]	validation_0-logloss:0.57448
[29]	validation_0-logloss:0.57451
[30]	validation_0-logloss:0.574605
[31]	validation_0-logloss:0.57464
[32]	validation_0-logloss:0.574642
[33]	validation_0-logloss:0.574638
[34]	validation_0-logloss:0.574701
[35]	validation_0-logloss:0.574727
[36]	validation_0-logloss:0.574677
[37]	validation_0-logloss:0.574665
[38]	validation_0-logloss:0.574705
[39]	validation_0-logloss:0.574688
[40]	validation_0-logloss:0.574691
[41]	validation_0-logloss:0.574718
[42]	validation_0-logloss:0.574717
[43]	validation_0-logloss:0.574701
[44]	validation_0-logloss:0.574721
[45]	validation_0-logloss:0.574723
[46]	validation_0-logloss:0.574716
[47]	validation_0-logloss:0.574701
[48]	validation_0-logloss:0.574699
[49]	validation_0-logloss:0.574712
[50]	validation_0-logloss:0.574758
[51]	validation_0-logloss:0.574721
[52]	validation_0-logloss:0.574726
[53]	validation_0-logloss:0.574753
[54]	validation_0-logloss:0.574728
[55]	validation_0-logloss:0.574752
[56]	validation_0-logloss:0.574734
[57]	validation_0-logloss:0.574743
[58]	validation_0-logloss:0.57471
[59]	validation_0-logloss:0.574758
[60]	validation_0-logloss:0.57471
[61]	validation_0-logloss:0.574705
[62]	validation_0-logloss:0.574742
[63]	validation_0-logloss:0.574781
[64]	validation_0-logloss:0.574745
[65]	validation_0-logloss:0.574725
[66]	validation_0-logloss:0.574757
[67]	validation_0-logloss:0.574767
[68]	validation_0-logloss:0.574793
[69]	validation_0-logloss:0.574806
[70]	validation_0-logloss:0.574793
[71]	validation_0-logloss:0.574782
[72]	validation_0-logloss:0.574787
[73]	validation_0-logloss:0.574827
[74]	validation_0-logloss:0.574833
[75]	validation_0-logloss:0.574823
[76]	validation_0-logloss:0.574835
[77]	validation_0-logloss:0.57484
[78]	validation_0-logloss:0.574865
[79]	validation_0-logloss:0.574912
[80]	validation_0-logloss:0.574922
[81]	validation_0-logloss:0.574923
[82]	validation_0-logloss:0.574955
[83]	validation_0-logloss:0.57495
[84]	validation_0-logloss:0.574945
[85]	validation_0-logloss:0.574942
[86]	validation_0-logloss:0.574888
[87]	validation_0-logloss:0.574901
[88]	validation_0-logloss:0.574898
[89]	validation_0-logloss:0.574882
[90]	validation_0-logloss:0.574852
[91]	validation_0-logloss:0.574866
[92]	validation_0-logloss:0.574891
[93]	validation_0-logloss:0.5749
[94]	validation_0-logloss:0.574896
[95]	validation_0-logloss:0.57492
[96]	validation_0-logloss:0.574936
[97]	validation_0-logloss:0.574934
[98]	validation_0-logloss:0.574913
[99]	validation_0-logloss:0.574889
오차행렬
[[1864 2120]
 [ 302 2999]]
정확도: 0.6675, 정밀도: 0.5859, 재현율: 0.9085,    F1: 0.7124, AUC: 0.7473

In [235]:
test_x = test_ex_df

xgb_clf = XGBClassifier(n_estimators=100, learning_rate=0.7, max_depth=2, random_state=0)
evals = [(X_test, y_test)]
xgb_clf.fit(X_train_over, y_train_over, early_stopping_rounds=100, eval_metric ='logloss', eval_set=evals, verbose=True)
xgb_pred = xgb_clf.predict(test_ex_df)


xgb_pred

[0]	validation_0-logloss:0.608105
Will train until validation_0-logloss hasn't improved in 100 rounds.
[1]	validation_0-logloss:0.588399
[2]	validation_0-logloss:0.581779
[3]	validation_0-logloss:0.578666
[4]	validation_0-logloss:0.576668
[5]	validation_0-logloss:0.575753
[6]	validation_0-logloss:0.575399
[7]	validation_0-logloss:0.574949
[8]	validation_0-logloss:0.574813
[9]	validation_0-logloss:0.574668
[10]	validation_0-logloss:0.574808
[11]	validation_0-logloss:0.574746
[12]	validation_0-logloss:0.57475
[13]	validation_0-logloss:0.574771
[14]	validation_0-logloss:0.574562
[15]	validation_0-logloss:0.574423
[16]	validation_0-logloss:0.574526
[17]	validation_0-logloss:0.574424
[18]	validation_0-logloss:0.574437
[19]	validation_0-logloss:0.574459
[20]	validation_0-logloss:0.57438
[21]	validation_0-logloss:0.574394
[22]	validation_0-logloss:0.574439
[23]	validation_0-logloss:0.574452
[24]	validation_0-logloss:0.574444
[25]	validation_0-logloss:0.574463
[26]	validation_0-logloss:0.574439
[27]	validation_0-logloss:0.574456
[28]	validation_0-logloss:0.57448
[29]	validation_0-logloss:0.57451
[30]	validation_0-logloss:0.574605
[31]	validation_0-logloss:0.57464
[32]	validation_0-logloss:0.574642
[33]	validation_0-logloss:0.574638
[34]	validation_0-logloss:0.574701
[35]	validation_0-logloss:0.574727
[36]	validation_0-logloss:0.574677
[37]	validation_0-logloss:0.574665
[38]	validation_0-logloss:0.574705
[39]	validation_0-logloss:0.574688
[40]	validation_0-logloss:0.574691
[41]	validation_0-logloss:0.574718
[42]	validation_0-logloss:0.574717
[43]	validation_0-logloss:0.574701
[44]	validation_0-logloss:0.574721
[45]	validation_0-logloss:0.574723
[46]	validation_0-logloss:0.574716
[47]	validation_0-logloss:0.574701
[48]	validation_0-logloss:0.574699
[49]	validation_0-logloss:0.574712
[50]	validation_0-logloss:0.574758
[51]	validation_0-logloss:0.574721
[52]	validation_0-logloss:0.574726
[53]	validation_0-logloss:0.574753
[54]	validation_0-logloss:0.574728
[55]	validation_0-logloss:0.574752
[56]	validation_0-logloss:0.574734
[57]	validation_0-logloss:0.574743
[58]	validation_0-logloss:0.57471
[59]	validation_0-logloss:0.574758
[60]	validation_0-logloss:0.57471
[61]	validation_0-logloss:0.574705
[62]	validation_0-logloss:0.574742
[63]	validation_0-logloss:0.574781
[64]	validation_0-logloss:0.574745
[65]	validation_0-logloss:0.574725
[66]	validation_0-logloss:0.574757
[67]	validation_0-logloss:0.574767
[68]	validation_0-logloss:0.574793
[69]	validation_0-logloss:0.574806
[70]	validation_0-logloss:0.574793
[71]	validation_0-logloss:0.574782
[72]	validation_0-logloss:0.574787
[73]	validation_0-logloss:0.574827
[74]	validation_0-logloss:0.574833
[75]	validation_0-logloss:0.574823
[76]	validation_0-logloss:0.574835
[77]	validation_0-logloss:0.57484
[78]	validation_0-logloss:0.574865
[79]	validation_0-logloss:0.574912
[80]	validation_0-logloss:0.574922
[81]	validation_0-logloss:0.574923
[82]	validation_0-logloss:0.574955
[83]	validation_0-logloss:0.57495
[84]	validation_0-logloss:0.574945
[85]	validation_0-logloss:0.574942
[86]	validation_0-logloss:0.574888
[87]	validation_0-logloss:0.574901
[88]	validation_0-logloss:0.574898
[89]	validation_0-logloss:0.574882
[90]	validation_0-logloss:0.574852
[91]	validation_0-logloss:0.574866
[92]	validation_0-logloss:0.574891
[93]	validation_0-logloss:0.5749
[94]	validation_0-logloss:0.574896
[95]	validation_0-logloss:0.57492
[96]	validation_0-logloss:0.574936
[97]	validation_0-logloss:0.574934
[98]	validation_0-logloss:0.574913
[99]	validation_0-logloss:0.574889

array([1, 1, 0, ..., 1, 0, 1], dtype=int64)

In [236]:
name = ['voted']
result = pd.DataFrame(xgb_pred, columns=name)
result

      voted
0         1
1         1
2         0
3         0
4         1
...     ...
9102      1
9103      1
9104      1
9105      0
9106      1

[9107 rows x 1 columns]

In [237]:
test_ex_df['voted'] = result
test_ex_df

      age_group  education  married  voted
0            20          2        1      1
1            30          4        2      1
2            10          2        1      0
3            10          2        1      0
4            20          2        1      1
...         ...        ...      ...    ...
9102         10          3        1      1
9103         50          3        3      1
9104         20          3        1      1
9105         10          2        1      0
9106         30          2        2      1

[9107 rows x 4 columns]