In [26]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [18]:
def mul(a):
    for i in range(1, 10):
        print(a*i, end=' ')
        
number = int(input("몇단? "))
mul(number)

몇단? 9
9 18 27 36 45 54 63 72 81

In [27]:
def func1(a):
    for i in range(1, a+1):
        for j in range(1, i+1):
            print('*', end=' ')
        print(' ')
        
def func2(a):
    for i in range(1, a+1):
        for j in range(a-i):
            print(' ', end=' ')
        for k in range(1,i*2):
            print('*', end=' ')
        print(' ')

line_number = int(input("줄 수: "))
func2(line_number)

줄 수: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [43]:
def print_score(a):
    sum=0
    for i in a:
        sum += i
    return sum/len(a)

print_score([1,2,3])

2.0

In [45]:
def pickup_even(a):
    b = []
    for i in a:
        if i%2 == 0:
            b.append(i)
    return b

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [46]:
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [47]:
def func1(a):
    for i in range(1, a+1):
        for j in range(a-i):
            print(' ', end='')
        for k in range(1, i*2):
            print('*', end='')
        print(' ')
line_number = int(input("줄 수: "))
func2(line_number)

줄 수: 8
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

# List

여러 요소를 가지는 순서가 있는 집합  
서로 다른 데이터형 사용 가능

In [1]:
# Indexing
a = ["AB", 10, False]
x = a[1]
a[1] = "Test"
y = a[-1]

print(x)
print(a[1])
print(y)

10
Test
False

In [2]:
# 추가, 수정, 삭제
a. append(21.5)
a[1] = 11
del a[2]
print(a)

['AB', 11, 21.5]

In [3]:
# Slicing
a = [1, 3, 5, 7, 10]
x = a[1:3]    # [3,5]
x = a[:2]     # [1,3]
x = a[3:]     # [7, 10]

In [4]:
# 병합
a = [1, 2]
b = [3, 4, 5]
c = a + b
print(c)

# 반복
d = a * 3
print(d)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

# Tuple

리스트와 동일하게 여러 요소를 갖고 있음  
추가/수정/삭제 불가

In [5]:
t = ("AB", 10, False)
print(t)

('AB', 10, False)

In [6]:
t1 = (123)
print(t1)    # int 타입

t2 = (123,)
print(t2)    # tuple 타입

123
(123,)

In [7]:
t = (1, 5, 10)

# Indexing
second = t[1]
last = t[-1]
print(second)
print(last)

# Slicing
s = t[1:2]
print(s)
s = t[1:]
print(s)

5
10
(5,)
(5, 10)

In [8]:
# 병합
a = (1, 2)
b = (3, 4, 5)
c = a + b
print(c)

# 반복
d = a * 3
print(d)

(1, 2, 3, 4, 5)
(1, 2, 1, 2, 1, 2)

In [9]:
name = ("John", "Kim")
print(name)

firstname, lastname = ("John", "Kim")
print(lastname,  ", ", firstname)

('John', 'Kim')
Kim ,  John

# Dictionary

Key-Value를 쌍으로 갖는 컬렉션  
리스트나 튜플과 다르게 순차적으로 값을 얻지 않고, key를 통해 value를 얻음

In [13]:
scores = {"철수":90, "민수":85, "영희":80}
v = scores["민수"]
scores["민수"] = 88
print(v)
print(scores["민수"])

85
88

In [15]:
# 1. Tuple List로부터 dict 생성
persons = [('김기수', 30), ('홍대길', 35), ('강찬수', 25)]
mydict = dict(persons)

age = mydict["홍대길"]
print(age)

# 2. Key=Value 파라미터로부터 dict 생성
scores = dict(a=80, b=90, c=85)
print(scores['b'])

35
90

In [16]:
# 추가, 수정, 삭제
scores = {"철수":90, "민수":85, "영희":80}
scores["민수"] = 88
scores["길동"] = 95
del scores["영희"]
print(scores)

{'철수': 90, '민수': 88, '길동': 95}

In [17]:
# 출력
scores = {"철수":90, "민수":85, "영희":80}

for key in scores:
    val = scores[key]
    print("%s : %d" % (key,val))

철수 : 90
민수 : 85
영희 : 80

In [18]:
scores = {"철수":90, "민수":85, "영희":80}

# keys
keys = scores.keys()
for k in keys:
    print(k)
    
# values
values = scores.values()
for v in values:
    print(v)

철수
민수
영희
90
85
80

In [19]:
# items
items = scores.items()
print(items)

itemsList = list(items)

dict_items([('철수', 90), ('민수', 85), ('영희', 80)])

# Set

중복이 없는 요소로만 구성된 컬렉션  
순서를 저장하지 않음

In [20]:
myset = {1, 1, 3, 5, 5}
print(myset)

# list -> set
mylist = ["A", "A", "B", "B", "B"]
s = set(mylist)
print(s)

{1, 3, 5}
{'B', 'A'}

In [21]:
# 추가, 삭제
myset = {1, 3, 5}

myset.add(7)
print(myset)

myset.update({4,2,10})
print(myset)

myset.remove(1)
print(myset)

myset.clear()
print(myset)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 7, 10}
{2, 3, 4, 5, 7, 10}
set()

In [22]:
a = {1, 3, 5}
b = {1, 2, 5}

# 교집합
i = a & b
# i = a.intersection(b)
print(i)

# 합집합
u = a | b
# u = a.union(b)
print(u)

# 차집합
d = a - b
# d = a.difference(b)
print(d)

{1, 5}
{1, 2, 3, 5}
{3}